@media (max-width: 1366px) {
    #home {
        .stick_container {
            .container_nav {
                .links {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }

        .nav_content {
            h5 {
                font-size: 1.9vw;
            }

            h1 {
                font-size: 4vw;
            }

            p {
                font-size: 1.1vw;
            }

            .buttons {
                margin-top: 60px;

                .button_left,
                .button_right {
                    padding: 10px;
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    #home {
        .stick_container {
            .container_nav {
                .links {
                    a {
                        font-size: 15px;
                    }
                }
            }
        }

        .nav_content {
            p {
                font-size: 1.2vw;
            }
        }
    }
}

@media (max-width: 1024px) {
    #home {
        .stick_container {
            .container_nav {
                .links {
                    a {
                        font-size: 1.6vw;
                        padding: 6px;
                    }
                }
            }
        }

        .nav_content {
            h5 {
                font-size: 2.2vw;
            }

            h1 {
                font-size: 6vw;
            }

            p {
                font-size: 1.7vw;
            }

            .buttons {
                margin-top: 60px;

                a {
                    font-size: 2.5vw;
                }
                .button_left,
                .button_right {
                    width: 150px;
                    // padding: 10px;
                }
            }
        }
    }
}

@media (min-width: 801px) {
    #home {
        .hamburger {
            display: none;
        }
    }
}

@media (max-width: 800px){
    #home {
        z-index: 10;
        position: relative;

        .stick_container {
            background: #fff;
            position: fixed;

            .container_nav {
                height: auto;
                display: block;
                text-align: left;
                margin: 0;
                padding: 25px;

                &>a {
                    position: absolute;
                    top: 0;
                    z-index: 2;
                }

                .hamburger {
                    position: absolute;
                    top: 15px;
                    right: 50px;
                    z-index: 2;
                }

                .links {
                    z-index: 1;
                    opacity: 0;
                    transform: translate3d(0, 10%, 0);
                    pointer-events: none;
                    margin-top: 35px;
                    transition: 0.3s;
                    position: absolute;
                    width: 100%;
                    // height: 100vh;
                    left: 0;
                    background: #fff;
                    padding: 0 3.3vw;

                    a {
                        display: block;
                        width: 100%;
                        color: #666;
                        font-size: 3vw;
                        text-align: center;
                        padding: 3vh 1vh;
                        border-top: 1px solid #ccc;
                        height: auto;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }

        &.mobile {
            .stick_container .container_nav .links {
                transform: translate3d(0, 0, 0);
                opacity: 1;
                pointer-events: visible;
            }
        }

        .nav_content {
            padding-top: 350px;

            h5 {
                font-size: 15px;
            }

            h1 {
                font-size: 38px;
            }

            p {
                font-size: 11px;
            }

            .buttons {
                .button_left,
                .button_right {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 480px) {

    #home {
        .stick_container {
            padding: 5px 0;

            .container_nav {
                .links {
                    a {
                        font-size: 5vw;
                    }
                }

                .hamburger{
                    right: 25px;

                    i{
                        font-size: 28px;
                    }
                }
            }
        }

        .nav_content {
            padding-top: 80px;

            h5 {
                font-size: 15px;
            }

            h1 {
                font-size: 38px;
            }

            p {
                font-size: 11px;
            }

            a {
                padding: 10px 15px;
                margin: 0;
                margin-right: 10px;
                font-size: 5vh;
            }


            .buttons {
                margin-top: 30px;
                flex-direction: column;

                .button_left {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media(max-width: 400px){
    #home{
        .stick_container{
            .container_nav{
                .hamburger{
                    right: 20px;
                }
            }
        }
    }
}


@media (orientation: landscape) and (max-width: 920px){
    #home {
        .stick_container {
            padding: 5px 0;
            .container_nav {
                .links {
                    a {
                        font-size: 1.6vw;
                        padding: 5px;
                    }
                }
            }
        }

        .nav_content {
            padding-top: 110px;

            h5 {
                font-size: 15px;
            }

            h1 {
                font-size: 38px;
            }

            p {
                font-size: 11px;
                margin-bottom: 10px;
            }

            .buttons {
                margin-top: -10px;

                a {
                    font-size: 2.5vw;
                }
                .button_left,
                .button_right {
                    width: 130px;
                    padding: 7px;
                }
            }
        }
    }
}

@media (orientation: landscape) and (max-width: 800){
    #home{
        .stick_container{
            .container_nav{
                .links{
                    margin-top: 30px;

                    a{
                        padding: 5px;
                    }
                }
            }
        }
    }
}